.container {
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 5px;
}
.item {
    height: 100px;
    width: 100px;
    background-color: lightblue;
    border: 2px solid navy;
}