body{
    height: 100vh;
    background-color: black;
}
.container {
    height: 30vh;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 5px;
}
.container2{
    height: 30vh;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
}
.container3{
    height: 30vh;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    gap: 5px;
}
.item {
    color: black;
    background-color: #e31414;
    height: 200px;
    width: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.item2{
    color: black;
    background-color: #251fd6;
    height: 200px;
    width: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.item3{
    color: black;
    background-color: #fff700;
    height: 200px;
    width: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.container4{
    height: 100vh;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 5px;
    flex-direction: column;
}
.item4{
    color: black;
    background-color: #e31414;
    height: 200px;
    width: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.container5{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
    flex-direction: column;
}
.item5{
    color: black;
    background-color: #251fd6;
    height: 200px;
    width: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.container6{
    height: 100vh;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    gap: 5px;
    flex-direction: column;
}
.item6{
    color: black;
    background-color: #fff700;
    height: 200px;
    width: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.container7{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
}
.item7{
    color: white;
    background-color: #08249d;
    height: 200px;
    width: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.container8{
    margin-top: 20px;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
}
.item8{
    color: white;
    background-color: #08249d;
    height: 200px;
    width: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.container9{
    margin-top: 20px;
    height: auto;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 5px;
}
.item9{
    color: white;
    background-color: #e31414;
    height: 200px;
    width: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.container10{
    margin-top: 20px;
    height: auto;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 5px;
}
.item10{
    color: white;
    background-color: #e31414;
    height: 200px;
    width: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.container11{
    margin-top: 20px;
    height: auto;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    gap: 5px;
}
.item11{
    color: white;
    background-color: #fff700;
    height: 200px;
    width: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.container12{
    margin-top: 20px;
    height: auto;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    gap: 5px;
}
.item12{
    color: white;
    background-color: #fff700;
    height: 200px;
    width: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
}

