.container{
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
}
.item{
    width: 200px;
    height: 200px;
    background-color: rgb(1, 6, 145);
}