.container {
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 10px;
}
.item {
    height: 100px;
    width: 100px;
  flex: 1;
  background: lightgreen;
  text-align: center;
  padding: 20px;
}