.container {
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row-reverse;
    gap: 5px;
}
.item {
    width: 200px;
    height: 200px;
    background-color:aquamarine;
}